table,
th,
td {
  border: 1px solid black;
}

tr {
  width: 100%;
}

#result-screen {
  height: 70px;
  font-weight: bold;
  font-size: 25px;
  font-family: "Lucida Console", "Courier New", monospace;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: right;
}

.calc-button {
  width: 70px;
  height: 70px;
  padding: 14px;
  font-weight: bold;
  font-size: 25px;
  font-family: "Lucida Console", "Courier New", monospace;
}

#calculator {
  width: 213px;
}
